// Color Variables
$primary: #005a91;
$secondary: #20783e;
$white: #fff;
$text: #000;
$dark-grey: #0a0a0a;

//Column Titles

$column-title-bg: #005A91;
$column-title-text: #fff;
$light-border: #ebebeb;
