// Color Variables
$primary: #005a91;
$secondary: #20783e;
$white: #fff;
$text: #000;
$dark-grey: #0a0a0a;
$lighter-grey: #ebebeb;
$body: #E8F1F2;
$shadow: rgba(0, 0, 0, .5);
$light-blue:#1B98E0;

//Column Titles

$column-title-bg: #fff;
$column-title-text: #000;
$light-border: #ebebeb;



//Banner Colors

$hr-line: rgba(255, 255, 255, .5);
$banner-h1: white;
$banner-h2: white;
$banner-h3: rgba(255, 255, 255, .75);
$banner-p: rgba(255, 255, 255, .75);