@media screen and (min-width: 601px) and (max-width: 1064px){
body{
	font-size:75%;
}
#page{
	margin-top:290px;
}
.container{
	width:100%;
	margin: 0 auto;
	margin-top: 20px;

}
.left-column{
	width:25%;
	float:left;
	display:none;
}
.left-column-title{
	padding:10px 15px;
	background-color: $column-title-bg;
	color: $column-title-text;
	margin-bottom:20px;
	border-bottom: $light-border solid 2px;
}
.section-box{
	margin-bottom: 10px;
	border: solid .5px $light-border;
	background-color:$white;
}
#login{
	padding-bottom:20px;
	form{
		width:100%;
		
		.input-username{
			width:85%;
			margin:0 5%;
			padding:10px 2.5%;
			border: $light-border solid .5px;
			border-radius:5px 5px 0 0;
		}
		.input-password{
			width:85%;
			margin:0 5%;
			padding: 10px 2.5%;
			border: $light-border solid .5px;
			border-radius:0 0 5px 5px;
		}

		.sign-in{
			color: $white;
			background-color: $primary;
			width:45%;
			margin-left:5%;
			padding:10px 0;

		}

		.sign-up{
			color: $white;
			background-color: $secondary;
			width:45%;			
			padding:10px 0;

		}
	}
	.forgot-pw{
		text-align: right;
		margin-right:5%;
		a{
			color:$primary;
			text-decoration: none;
			font-size: .75em;
		}
		a:hover{
			color:$secondary;
			text-decoration: underline;
		}
	}
}
.quicklinks{
	ul{
		list-style: none;
		li{
			margin-top:5px;
		}
		a {
			color:$text;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}



.main-body-title{
	padding:10px 15px;
	background-color: $column-title-bg;
	color: $column-title-text;
	margin-bottom:0px;
}
.activities-filter{
	display:flex;
	justify-content:space-between;
	padding: 4px 10px;
	background-color:$white;
}
.sort{
	padding:5px;
	border-radius: 3px;
	border: $light-border solid .5px;
	color: $dark-grey;
	background-color:$lighter-grey;
}

.sort-left{
	width:40%;
}
.sort-right{
	width:50%;
	text-align: right;
}

.activities-card{
	display:flex;
	justify-content: space-between;
	border:solid .5px $light-border;
	margin-top: 20px;
	background-color:$white;
}

.activities-img{
	width:25%
}

.activities-img img{
	width:100%
}

.activities-description{
	margin-left:20px;
	padding-right:30px;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	width:75%;

}
.activities-text{
}
.activities-upc{
}





.main-content{
	width:70%;
	padding:0 2%;
	float:left;

}
.right-column{
	width:25%;
	float:right;
	img{
		width:100%;
		margin-bottom:20px;
	}
}

.main-content-2col {
    width:95%;
    padding:0 10px;
}
}