.progress-bar-40{
	position: relative;
	z-index: 1100;
	top:0;
	height:10px;
	background-color: $secondary;
	width: 40%;
	z-index: 2222;
	border-radius: 10px;

}
.progress-bar{
	width:100%;
	height:10px;
	background-color: $lighter-grey;
	border-radius: 10px;
}
.progress-bar-60{
	position: relative;
	z-index: 1100;
	top:0;
	height:10px;
	background-color: $secondary;
	width: 60%;
	z-index: 2222;
	border-radius: 10px;

}
.progress-bar-10{
	position: relative;
	z-index: 1100;
	top:0;
	height:10px;
	background-color: $secondary;
	width: 10%;
	z-index: 2222;
	border-radius: 10px;

}